.image{
    position: relative;
}
.img{
    display: block;
    
}
.icon{
    position: absolute;
    top: 0;
    right: 0;
    color: aliceblue;
   

    
}
.image img{
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}
.edit_icon{
    background-color:black;
    border-color: black;
}
